@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://fontawesome.com/license */

:root {
    --selectedcolor: #b91c1c;
}

* {
    padding: 0;
    margin: 0;
}

.noscrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.title_font {
    font-family: "Cinzel Decorative", cursive;
}

.index_markdown p {
    @apply mx-3;
}

.index_markdown p + p, .index_markdown p + ul, .index_markdown ul + p {
    @apply mt-4;
}

.index_markdown ul {
    @apply mx-7 list-disc;
}

.index_markdown li + li, .index_markdown li ul {
    @apply mt-2;
}

.index_markdown a {
    @apply underline;
}

@media (max-width: 767px) {
    .linetop + .linetop {
        @apply border-t border-red-700;
    }
}

@media (min-width: 768px) {
    .dropdownmenu {
        transition: all .1s ease;
    }

    .dropdown:hover > .dropdownmenu, .dropdown .focus-within > .dropdownmenu, .dropdown .dropdownmenu:hover, .dropdown .dropdownmenu:focus {
        @apply opacity-100 visible;
    }

    .awithhover:hover {
        color: var(--selectedcolor);
    }

    .awithhover::before, .awithhover::after {
        display: inline-block;
        font-size: inherit;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    .awithhover::before {
        margin-right: 0.5rem;
        content: "❯";
        color: var(--selectedcolor);
        -webkit-transform: translateX(1.25rem);
        -moz-transform: translateX(1.25rem);
        transform: translateX(1.25rem);
    }

    .awithhover::after {
        margin-left: 0.5rem;
        content: "❮";
        color: var(--selectedcolor);
        -webkit-transform: translateX(-1.25rem);
        -moz-transform: translateX(-1.25rem);
        transform: translateX(-1.25rem);
    }

    .awithhover:hover::before, .awithhover:hover::after, .awithhover:focus::before, .awithhover:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}