---
import NavbarDesktop from "../components/Navbar_Desktop.jsx"
import NavbarMobile from "../components/Navbar_Mobile.jsx"

interface Props {
	title: string;
}

const {
	title = site.title,
} = Astro.props as props;
---
<html lang="en">
    <head>
        <title>{title}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
        <link rel="manifest" href="/images/icon/site.webmanifest">
        <link rel="mask-icon" href="/images/icon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body class="flex h-full flex-col items-center bg-nicegray text-white">
        <NavbarDesktop/>
        <NavbarMobile client:load/>
        <slot/>
    </body>
</html>